<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <import resource="loggers.xml"/>

    <!-- standart consrtructor with two args -->
    <bean id="client" class="Client">
        <constructor-arg value="1"/>
        <constructor-arg value="John"/>
    </bean>

    <!--construct object with static method -->
    <bean id="dateFormat" class="java.text.DateFormat"
          factory-method="getDateTimeInstance"/>

    <!-- one arg is inner bean, scope field -->
    <bean id="event" class="Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg ref="dateFormat"/>
    </bean>

    <!-- args is refs to another bean-->
    <bean id="app" class="App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="cacheFileEventLogger"/>
    </bean>

</beans>