<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <import resource="loggers.xml"/>

    <!-- standart consrtructor with two args -->
    <bean id="client" class="beans.Client">
        <constructor-arg value="1"/>
        <constructor-arg value="John"/>
        <property name="greeting" value="Hello there!"/>
    </bean>

    <!--construct object with static method -->
    <bean id="dateFormat" class="java.text.DateFormat"
          factory-method="getDateTimeInstance"/>

    <!-- one arg is inner bean, scope field -->
    <bean id="event" class="beans.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg ref="dateFormat"/>
    </bean>

    <!-- args is refs to another bean-->
    <bean id="app" class="App">
        <constructor-arg ref="client"/>
        <constructor-arg>
            <map>
                <entry value-ref="cacheFileEventLogger">
                    <key><null/></key>
                </entry>
                <entry key="INFO" value-ref="consoleEventLogger"/>
                <entry key="ERROR" value-ref="combinedEventLogger"/>
            </map>
        </constructor-arg>
    </bean>

</beans>